*{
    text-decoration: none;
    color: #ffffff;
    

}
::-webkit-scrollbar{
    width: 13px;


}
::-webkit-scrollbar-thumb{
    background-color: #5A5A5A;
    border-radius: 25px;
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #000000;
    color: #ffffff;
    font-family: Poppins, Roboto;
    
}
main,.Home-block-side-footer-section,.Home-block,.Home-block ul,.Home-block li,.Home-block li .home-logo,.Home-block li .search-logo{
    display: flex;
    justify-content: flex-start;
    gap: 8px;
}

.Home-block,.side-footer,.main-block-sound{
    box-sizing: border-box;
    background-color: #121212;
}

main{
    padding: 7px;
    width: calc(100vw - 16px);
    height: calc(99vh - 8px); 
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Home-block-side-footer-section{
    align-items: center;
    flex-direction: column;
    width: 23vw;
    height: 90vh;
    
}

.Home-block{
    width: 23vw;
    height: 20%;
    border-radius: 8px;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 10px;
    
    
}

.Home-block ul{
    width: 20vw;
    height: 80%;
    padding: 0 0 0 10px;
    flex-direction: column;
    gap: 15px;
    align-items:start;
}

.Home-block li{
    list-style: none;
    width: 15vw;
    height: 20%;
    padding: 3px;
    font-size: 15px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    letter-spacing: .2px;
    
}

.home-logo,.search-logo{
    width: 13vw;
    height: 90%;
    align-items: center;
    gap: 20px !important;
    
}
.search-logo span{
    color: #a7a7a7;
}



/* side-footer start */

/* display flex */
.side-footer,.librairy-container,.librairy-container .svg-text,.librairy-container .plus-svg-btn,.card,.language-button{
    display: flex;
}

.side-footer{
    width: 23vw;
    height: 80%;
    border-radius: 8px;
    align-items: center;
    flex-direction: column;
}

.librairy-container{
    width: 21.5vw;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 5px 0;
    
}
.librairy-container .svg-text{
    width: 55%;
    height: 90%;
    align-items: center;
    justify-content: space-evenly;
    gap: 3px;
    font-weight: 500;
    color: #a7a7a7;
}
.svg-text span{
    color: #a7a7a7;
}

.librairy-container .plus-svg-btn{
    width: 3vh;
    height: 3vh;
    background: transparent;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    margin: 0 15px 0 0;
    padding: 0;
    border: none;
    font-weight: 900;
    
    
}
.card{
    flex-direction: column;
    width: 21.5vw;
    height: 16vh;
    border-radius: 10px;
    background-color: #242424;
    padding: 0px 50px 15px 20px;
    box-sizing: border-box;
    gap: 8px;
    font-size: 1.10rem;
}
.card span{ 
    font-size: .90rem;
}
.card h5{
    margin-top: 20px;
    margin-bottom: 0;
    
}
.card .Create-playlist-btn{
    margin: 10px 0 0 0;
    padding: 8px;
    width: 65%;
    border-radius: 20px;
    border: none;
    color: #000000;
    font-size: .85rem;
    font-weight: 600;
}
.create-podcasts-card{
    margin: 25px 0 0 0;
    height: auto;
    
}
.create-podcasts-card .Browse-podcasts-btn{
    margin: 10px 0 0 0;
    padding: 8px;
    width: 75%;
    border-radius: 20px;
    border: none;
    color: #000000;
    font-size: .85rem;
    font-weight: 600;
}
.footer{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 20vw;
    height: auto;
    margin: 30px 0 0 0;
    padding: 0 0 0 10px;
    color: #A2A2A2;
}
.footer a span{
    color: #A2A2A2;
    font-size: 11px;
}
.language-button{
    position: absolute;
    background-color: transparent;
    border: 1px solid #A2A2A2;
    border-radius: 20px;
    align-items: center;
    font-size: 1rem;
    gap: 7px;
    font-weight: 550;
    padding: 8px 10px;
    box-sizing: border-box;
    right: 89%;
    top: 82%;
}

/* Main block started */
.sign-in-box,.left-right-arow,.sign-in-btn-box,.left-right-arow > div,.sportify-playlist-text,.sportify-playlist-section,.sportify-playlist-card,.card1-text,.card2-text,.card3-text,.card4-text{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


.main-block-sound{
    width: 77vw;
    height: 90vh;
    border-radius: 8px;
    background-color: #1E1E1E;
    overflow-y: scroll;
    overflow-x: hidden;
    

}

.sign-in-box{
    width: calc(75vw + 2px);
    height: auto;
    border-radius: 8px 8px 0 0;
    background-color: #101010;
    position:fixed;
    justify-content: space-between;
    padding-inline: 10px 30px;
    padding-block: 9px 7px;
    z-index: 1000;
    opacity: .9;

}

.left-right-arow{
    gap: 13px;
    padding: 3px;
    

}

.left-right-arow > div{
    width: 3vh;
    height: 3vh;
    padding: 2px;
    background-color: #090909;
    border-radius: 50px;
}

.sign-in-btn-box{
    width: auto;
    height: auto;
    gap: 25px;


}

.sign-in-btn-box .sign-up,.log-in,.sportify-playlist-text button{
    color: #a7a7a7;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    font-weight: 700;
}

.log-in{
    color: #101010;
    background-color: #ffffff;
    padding: 15px 30px;
    border-radius: 25px;
    font-weight: 600;
}

.sportify-playlist{
    width: 95%;
    height: 100vh;
    z-index: 10;
    padding: 50px 20px 10px 20px;
    
    
    
}

.sportify-playlist .sportify-playlist-text{
    color: #ffffff;
    position: relative;
    z-index: 100;
    justify-content: space-between;
    
}
.sportify-playlist-text button{
    font-size: .90rem;
}

.sportify-playlist-section{
    width: 71vw;
    height: 40vh;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;
    align-items: flex-start;

}
.sportify-playlist-section .sportify-playlist-card{
    width: 25vh;
    height: 35vh;
    align-items:flex-start;
    padding: 1px 0 0 0;
    border-radius: 8px;
    flex-direction: column;
    background-color: #181818;
}

.card1 .sportify-playlist-card-img-1{
    width: 21vh;
    height: 21vh;
    background-image: url('Mahir\ zain.jpg');
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px #000000bd;
    margin: 0 auto;
}

.card1 h4,.card2 h4,.card3 h4,.card4 h4{
   margin: 0;
}

.card1 span,.card2 span,.card3 span,.card4 span{
   color: #A2A2A2;
   font-size: .90rem;
}

.card1-text,.card2-text,.card3-text,.card4-text{
    flex-direction: column;
    width: auto;
    height: 8vh;
    align-items: flex-start;
    justify-content:flex-start;
    margin: 15px 0 0 15px;
    padding-top: 0; 
}
.card2 .sportify-playlist-card-img-2{
    width: 21vh;
    height: 21vh;
    background-image: url('Humood.jpg');
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px #000000bd;
    margin: 0 auto;
}
.card3 .sportify-playlist-card-img-3{
    width: 21vh;
    height: 21vh;
    background-image: url('Reaf.jpg');
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px #000000bd;
    margin: 0 auto;
}

.card4 .sportify-playlist-card-img-4{
    width: 21vh;
    height: 21vh;
    background-image: url('Omer\ esa.jpg');
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px #000000bd;
    margin: 0 auto;
}

